/*  GRUPPE: WWI24A - 4133345 Samuel Jautz - 8803132 Johannes Belz - 4754659 Lars Guenther - 5906652 Tim Kachel */

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
h1 {
  margin-right: auto;
}

h2 {
  font-weight: 600;
}

section {
  border: 1px lightgray solid;
  border-radius: 12px;

  width: 100%;
  margin: 20px;
  padding: 20px;
}

#header-block {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  column-gap: 40px;
}

#header-block > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.input-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 20px;

  border: 1px solid lightgray;
  border-radius: 8px;

  font-size: medium;
}

.input-button {
  display: block;
  width: 100%;
  box-sizing: border-box;

  padding: 12px;
  margin-bottom: 20px;

  background: black;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: medium;
}

#description {
  resize: vertical;
  min-height: 100px;
  max-height: 500px;
  font-size: large;
}

.event-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.event-selector > input,
.event-selector > select {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  font-size: medium;
}

.event > * {
  margin: 2px;
}
.event {
  margin: 4px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footer {
  border-top: 1px solid lightgrey;
  width: 100%;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}
